.content {
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  border: 0;
  color: white;
  height: 100;
  padding: 0 30px;
  box-shadow: 0 0 20px rgb(255, 55, 132),  0 0 20px rgba(231, 29, 46, 0);
}

.actions {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    border: 0;
    color: white;
    height: 48;
    padding: 0 30px;
  }

.button{
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    border: 0;
    color: white;
    height: 48;
    padding: 0 30px;
    box-shadow: 0 0 5px rgb(255, 255, 255),  0 0 5px rgba(255, 255, 255);
}